@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --backgr:#569BF5;
}
body {
  background-color:var(--backgr);
  font-family: "Roboto";
  font-size:16px;
  color:#260C5E;
}
.container-main {
	text-align: justify;
    text-align-last: center;
	border-radius:10px;
	margin-bottom:30px;
}
.container {
	background-color: lightskyblue;
	height:100hv;
}
footer {
	background-color: lightblue;
	text-align:center;
}
.img1 {
	border-radius: 20px;
	box-shadow: 6px 6px 5px;
}
.img2 {
	border-radius: 20px;
	box-shadow: 6px 6px 5px;
	max-width: 300px;
	width:90%;
}
div {
	width:80%;
	margin-left:5%;
	margin-right:5%;
	padding-left:5%;
	padding-right:5%;
	padding-top:1%;
	padding-bottom:1%;
}
a:hover {
	font-weight:bold;
}
a:visited {
	font-weight:italic;
}
a:focus {
	color:indigo;
}
hr {
    width:90%;
    border: 4px solid lightblue;
    border-radius: 8px;
}
ul,ol {
	list-style-position: inside;
}
.d1 {
	border-radius:10px;
	background-color:#6EACFF;
}
.landing-page {
	height:100vh;
	width:100vw;
	margin:0%;
	padding:0%;
}